
<!DOCTYPE html>
<html>
<head>
  <title>Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Always use latest IE -->
  <meta http-equiv="X-UA-Compatible" content="IE=10; IE=9; IE=8; IE=7; IE=EDGE" />
  
  <!-- AppStyles -->
  <script src="@Url.Content("~/dist/app.js")"></script>
</head>
<body scroll="no" style="overflow: hidden" sd-resize ng-app="sd">
  <style>
    @@media (min-width: 768px) {
      #mobileMenu2 {
        display: none !important;
      }
    }
  </style>

<div ng-controller="MainController as main">
  <div class="jumbotron">
    <p>Hello from {{main.greeting}}</p>
    <p>Hello from {{main.constant}}</p>
  </div>
</div>


</body>
</html>